.safeArea {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 50px 0 0 0;
}

.safeArea>h3 {
	text-align: center;
}

.safeArea>p {
	font-size: small;
	margin: 0 2rem;
	text-align: center;
	height: 100px;
}

.safeArea>button {
	margin-top: 10px;
}

.productImg {
	width: 300px;
	height: 200px;
	margin: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.productImg img {
	max-width: 300px;
	max-height: 200px;
	border-radius: 10px;
}

.priceArea {
	height: 35px;
	margin: 20px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.priceArea>p {
	font-size: smaller;
}

.quantityInput {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 0 20px 0;
	border: solid 1px white;
	padding: 0 0 0 10px;
	overflow: hidden;
	border-radius: 5px;
}

.quantityInput input {
	border-radius: 0;
	width: 35px;
	text-align: center;
	background-color: transparent;
	border-left: solid 1px white;
	color: white;
}

.quantityInput input:hover {
	background-color: white;
	color: black;
}


.quantityInput p {
	margin-right: 10px;
	font-size: small;
}