.row-overflow {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	height: 200px;
	margin-bottom: 3rem;
	padding: 10px 0;
	margin: 0 2rem;
	-ms-overflow-style: none;
}

.row-overflow::-webkit-scrollbar {
	display: none;
	/* Chrome, Safari, and Opera */
}

.product-item {
	flex-shrink: 0;
	width: 7rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-right: 1rem;
}

.product-item>img {
	min-height: 120px;
	width: 120px;
	border-radius: 8px;
}

.product-item>p {
	text-align: center;
	margin-top: 5px;
}

.separator {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
}

.separator>.horizontal-line {
	border: solid .1px rgba(var(--font-rgb), 0.5);
	width: 100%;
	height: 0;
}

.separator>p {
	white-space: nowrap;
	padding: 0 5px;
	font-size: x-small;
	text-align: center;
	color: rgba(var(--font-rgb), 0.5)
}